a{
    text-decoration: none;
}
.header-bar{
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-logo-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text{
    color: #ee4d2d;
    font-size: 30px
}

.login-footer-bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.login-content{
    background-color: #FB5822;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 600px;
}