.main-search-bar {
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 87, 34);
}
.main-shopping-cart {
  color: #fff;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.main-shopping-cart-number {
  position: relative;
  top: -15px;
  left: -15px;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
  background-color: rgb(251, 87, 34);
  color: white;
  border: 1px solid white;
  font-size: 10px;
}
.main-right {
  display: flex;
  align-items: center;
}
